footer.container(id="global-footer")
  .row
    .col-md-12
      p(style="text-align: center") All content &copy; Vila COTROCENI

block scripts
  //- jQuery
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
  //- Local Vendor scripts

  //- app nav_resize
  script(src="scripts/jquery.bxslider.min.js")
  script(src="scripts/nav_resize.js")

  //- Angular components
