head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
	meta(name='viewport' content='width=device-width, initial-scale=1')
	meta(name="language" content="en")
	block title
		title SITE TITLE
		meta(name='description' content="")
	meta(name="robots" content="index,follow")
	meta(name="revised" content="Thursday, April 21th, 2016, 2:34 pm")
	meta(name="rating" content="General")
	meta(name="revisit-after" content="7 days")

	link(rel='stylesheet' href="style.css" media="screen, projection")

	//link(rel="icon" href="/content/favicon.ico")
	//link(rel="shortcut icon" href="/content/favicon.ico")
	//link(rel="apple-touch-icon" href="/content/apple-touch-icon.png")

	//- Meta tags
	meta(name="url" content="http://SITEURL.com/")
	meta(name="identifier-URL" content="http://SITEURL.com/")
	link(rel="index" href="http://SITEURL.com/" title="SITE TITLE")
	link(rel="canonical" href="http://SITEURL.com/")

	//- Location tagging (Lat/Long)
	meta(name="ICBM" content="30.185744,-97.762242")
	meta(name="geo.position" content="30.185744,-97.762242")
	meta(name="geo.placename" content="Austin, TX, United States")
	meta(name="geo.region" content="us-tx")

	//- Facebook Opengraph
	meta(property="og:type" content="website")
	meta(property="og:site_name" content="")
	meta(property="og:description" content="")
	meta(property="og:locale" content="en_US")
	meta(property="og:image" content="http://path/to/image")

	//- Twitter
	meta(name="twitter:card" content="summary_large_image")
	meta(name="twitter:site" content="@SITETWITTER")
	meta(name="twitter:creator" content="@CREATORTWITTER")
	meta(name="twitter:title" content="SITE TITLE")
	meta(name="twitter:description" content="")
	meta(name="twitter:image" content="http://path/to/image")

	//- Google+
	meta(itemprop="description" content="")

	//- iOS
	meta(name="apple-mobile-web-app-title" content="Solopx Designs")
