ul.bxslider
  li
    .copy
      h1 Oferta Decembrie
      small apartamentul nordic
      h3 £900/mth
      h4: del £4500/mth
      a(href="") Find out more
    img(src="content/images/slider/offer_slider01.jpg")
  li
    .copy
      h1 Oferta Decembrie
      small apartamentul nordic
      h3 £900/mth
      h4: del £4500/mth
      a(href="") Find out more
    img(src="content/images/slider/offer_slider02.jpg")
  li
    .copy
      h1 Oferta Decembrie
      small apartamentul nordic
      h3 £900/mth
      h4: del £4500/mth
      a(href="") Find out more
    img(src="content/images/slider/offer_slider03.jpg")
