.card.d-flex
  img.img-fluid(src="content/images/card_img.jpg")
  .price_badge
    p £1120/Day
  h5.text-center 3 room nordic appartment
  .cta.d-flex.justify-content-between
    a.btn.text-center(href="#") details
    a.btn.text-center.branded(href="#") Rezerva
