.container-fluid.logo--welcome
  img.img-fluid(src='content/images/logo.png')
.clearfix
.container-fluid.rezervaBox.rezerveBox--welcome
  section
    .row.d-flex.no-gutters
      .col-spx
        h1 Site under construction
        p be the first to know the lounch date
      .col-spx
        a(href="https://docs.google.com/forms/d/e/1FAIpQLScDHZMB2d3uK-UkVcU58C_0myGEJhAM440Yxo9qg1uvjxu7Tw/viewform").btn.btn-lg.btn-outline-primary subscribe
