.container-fluid.rezervaBox
  section
    .row.d-flex.no-gutters
      .col-spx
        h1 Rezerva
        p Verifica disponibilitatile apartamentelor
      .col-spx
        a(href="").btn.btn-lg.btn-outline-primary Rezerva
